*{
	margin: 0; 
	padding: 0;
	box-sizing:border-box;
}
.imgNotiEfe{
	align-content: center;
	justify-content: center;
	border-image: round;
}

.notiEfe{
    background-color: coral;
    border-style:double ;
	border-top-left-radius:  45px;
	border-top-right-radius: 45px;
	border-bottom-left-radius: 45px;
	border-bottom-right-radius: 45px;
    text-align: center;
	align-content: center;
}